.formGroup{
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
}

.formLabel{
    font-size: 1.3rem;
}

#applyBtn{
    /* background-color:#ffbb00!important; */
   
    
}
.btn-secondary {
    background-color: red;
    color: white;
}
.btn-secondary:hover{
    background-color: #ffbb00;
}