.deepCleaning {
    margin-top: 6rem;
    padding: 2rem;
  }


.deepCleaningTitle{
    font-size: 2.7rem;
    color: grey;
}

.deepCleaningIntroText{
    padding-top: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 3rem;
}

#includedIntro {
    text-align: center;
}

#deepCard{
    max-height: 50%;
}

#list{
    list-style: none;
}
