/* -----------------------HEADER-------------------- */
.header-wraper {
    position: relative;
    background: url(../src/assets/gloves.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 45vh;
    margin-top: 6rem;

}

h1 {
    font-size: 4rem;
    /* font-family: Bradley Hand, cursive; */
    /* font-style: italic; */
    font-weight: lighter;
    
}

.intro {
    padding-top: 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* color: #f1faee; */


}

.intro-text-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* if vertical stacking is needed */
    text-align: center;
    padding: 2rem;
  }

.intro-text {
    /* margin-bottom: 3rem;
    font-size: 1.7rem !important; */
    /* text-align: center; */
    font-size: 1.5rem !important;
    text-indent: 4.5rem;
    /* text-align: left;
    line-height: 1.6;
    padding: 0 1rem;
    max-width: 800px;
    margin: 0 auto;
    word-spacing: normal;
    overflow-wrap: break-word;
    hyphens: auto; */
    
}

.slogan {
    font-size: 1.5rem;
}

/* -----------------------Services-------------------- */
.cardHome {
    /* text-align: center;
    max-width: 24rem;
    height: 400px;
    position: relative;
    margin: 1rem;
    margin-bottom: 5rem; */
    border-radius: 25px;
    filter: drop-shadow(0 0 0.50rem #0096c7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 35rem;
    height: auto;
    max-width: 50rem;
    margin: auto;
    margin-bottom: 5rem;
    padding: 1.5rem;
    background-color:#fdf0d5 ;
    /* background: linear-gradient( #fdf0d5 , #fec85d ); */

 
}

.card-body {
    flex-grow: 1; /* Allows the body to take up full space */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2 {
    margin-bottom: 3rem;
    text-align: center;
    /* font-size: 2.2rem !important; */
}
.homeh2{
    font-size: 2.2rem !important;
}

/* .services {
    height: 40rem;
} */

.cardtext {
    width: 100%;
    /* text-align: center;  */
    padding: 1rem;
    font-size: clamp(1.2rem, 2vw, 1.5rem);
    line-height: 1.5; /* Improve readability */
    
}


/* -----------------------Responsive-------------------- */
@media (max-width: 768px) {
    .intro-text {
      font-size: 1rem;
      text-align: justify;
      padding: 1rem;
      text-indent: 1.5rem !important;
      
      
      
    }
    .homeh2{
        font-size: 1.8rem !important;
    }
 
    h1 {
        
        margin-top: 5rem;
    }
   
  
  }
  
  