/* -----------------------HEADER-------------------- */
.header-wraper {
    position: relative;
    background: url(../src/assets/gloves.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 35vh;
    margin-top: 6rem;

}

h1 {
    font-size: 4.5rem;
    font-family: Bradley Hand, cursive;
    font-style: italic;
    
}

.intro {
    padding-top: 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* color: #f1faee; */


}

.intro-text-div {
    margin: 3rem;
    padding: 2rem;
    text-align: center;
    justify-content: center;
    align-items: center;

}

.intro-text {
    margin-bottom: 3rem;
    font-size: 1.7rem;
    /* text-align: center; */
}

.slogan {
    font-size: 1.5rem;
}

/* -----------------------Services-------------------- */
.cardHome {
    /* text-align: center;
    max-width: 24rem;
    height: 400px;
    position: relative;
    margin: 1rem;
    margin-bottom: 5rem; */
    border-radius: 25px;
    filter: drop-shadow(0 0 0.50rem #0096c7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 35rem;
    max-width: 50rem;
    margin: auto;
    margin-bottom: 5rem;
    padding: 1.5rem;
    /* background-color:#fdf0d5 ; */
    background: linear-gradient( #fdf0d5 , #fec85d );

 
}

.card-body {
    flex-grow: 1; /* Allows the body to take up full space */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2 {
    margin-bottom: 3rem;
    text-align: center;
}

/* .services {
    height: 40rem;
} */

.cardtext {
    width: 100%;
    text-align: center; 
    padding: 1rem;
    font-size: 1.3rem;
    line-height: 1.5; /* Improve readability */
    
}

/* -----------------------Dropdown-------------------- */

/* Make dropdown larger */
.navbar .dropdown-menu {
    background-color: rgba(255,255,255,0.5)!important;  /* Dark blue background */
    border-radius: 10px !important;  /* Rounded corners */
    border-style: hidden;
    min-width: 600px !important;  /* Set width */
    padding: 12px !important;
}

/* Style dropdown items */
.navbar .dropdown-menu .dropdown-item {
    color: #7d8597!important;  /* White text */
    font-size: 1.2rem !important;  /* Larger font */
    padding: 12px 20px !important;
}

/* Hover effect */
.navbar .dropdown-menu .dropdown-item:hover {
    background-color: #0077b6 !important;  /* Lighter blue */
    color: #fff !important;
}

/* Active item */
.navbar .dropdown-menu .dropdown-item:active {
    background-color: #00b4d8 !important; 
}

/* Ensure Navbar links fill entire width */
.navbar-nav {
    width: 100% !important;
    justify-content: space-between !important; /* Spread items */
}

