/* -------Residential------ */
.resCard {
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.5);
    transition: transform 0.2s ease;
    border: none;
    border-radius: 15px;
    padding: 2rem;
    /* background-color: #ecf8f8; */
   background-color: #fdf0d5; 
   
    
    /* background: linear-gradient( #fdf0d5 , #fec85d ) */
  }
  
  .resCard:hover {
    transform: translateY(-5px);
  }
  
  .genResidential {
    margin-top: 6rem;
    padding: 2rem;
  }
  
.resTitle{
    font-size: 2.7rem;
    
    /* font-weight: 600; */
}

.resCardTitle{
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    font-weight: bold;

}

.resCardText{
font-size: 1.2rem;
}


.bookCard {
    /* background-color: #fec85d; */
    /* background-color: #fdf0d5; */
    background: linear-gradient( #fdf0d5 , #fec85d );
     box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.5);
    transition: transform 0.2s ease;
    border: none;
    border-radius: 15px;
    padding: 2rem;
   
}